<!DOCTYPE html>
<html>
     <Head>
	  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DrivePro Car Renta - Book Now</title>
    <link rel="stylesheet" href="css/book now.css">
          
     </Head>

<body>
 <!-- Navigation -->
    <nav>
        <input type="checkbox" id="res-menu">
        <label for="res-menu">
            <i class="fas fa-bars" id="s1"></i>
            <i class="fas fa-times" id="s2"></i>
        </label>
               <img src="img/logo1.png" alt="Drive Pro">

        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="">About Us</a></li>
            <li><a href="drive proCar List.html">Car List</a></li>
            <li><a href="contact.html">Contact Us</a></li>
            <li><a href="Login.html">Sign Up</a></li>
            <li><a href="help & support.html">Help & Support</a></li>
            <li>

                <div class="search">
                    <input type="text" class="searchTerm" placeholder="What are you looking for?">
                    <button type="submit" class="searchButton">
                        <i class="fa fa-search"></i>
                    </button>
                </div>


            </li>
        </ul>
    </nav>

 <!--==============================Header=================================-->
 <br>  
</br>
 
 <center>   
<h1> Book Now </h1>
</center>


<hr>
<br>  
</br>
<center>
<table border = "5" width = "80%">

<tr>
<br> </br>
<p> <form> Name    : <input type="text" name="name" placeholder="Enter Your Name"> </form> </p>
<br> </br>
</tr>

<tr>
<br> </br>
<p> <form> Vehicle : <input type="text" name="Vehicle" placeholder="Enter Your Vehicle Type"> </form></p> 
<br> </br>
</tr>

<tr>
<br> </br>
<p> <form> NIC     : <input type="text" name="NIC " placeholder="Enter Your NIC"> </form> </p>
<br> </br>
</tr>


<tr>
<td>
<center>
<br> </br>
 <input type = "radio" name = "time" value = "1 day" > 1 Day
 <input type = "radio" name = "time" value = "2 day" > 2 Day
 <input type = "radio" name = "time" value = "3 day" > 3 Day
 <input type = "radio" name = "time" value = "4 day" > 4 Day
 <input type = "radio" name = "time" value = "1 month" > 1 Month
<br> </br>
<center>
</td>
</tr>

<center>
  </table>

  <br>  
</br>
<br>  
</br>

 <p><form>  <input type="button" name="submit "  value = "Submit"> </p></form>

 
        
  <br>  
</br>
<!--------------------------------------Footer------------------------->
  <!-- Footer -->
  <br>
  </br>
   <br>
  </br>
 
  
    <div class="footer">

        <div class="footer_item_1">
            <h3>89,Main Street,Malabe</h3>
            <h3>011 1234567</h3>
            <h3>supportdrivepro@gmail.com</h3>
        </div>

        <img class="footer_item_2" src="img/logo1.png" alt="Drive Pro">


        <div class="footer_item_3">
            <h4>Social Media</h4>
            <div class="footer_item_3_icon">
                <img src="img/whatsapp.jpg">

                <img src="img/facebook.png">

                <img src="img/instegram.jpg">

            </div>


        </div>



    </div>


</body>

</html>


