<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nav Bar</title>
  <link rel="stylesheet" href="css/rental.css">



  <!-- Navigation -->
  <nav>
    <input type="checkbox" id="res-menu">
    <label for="res-menu">
      <i class="fas fa-bars" id="s1"></i>
      <i class="fas fa-times" id="s2"></i>
    </label>
    <img src="img/logo1.png" alt="Drive Pro">

    <ul>
      <li><a href="index.html">Home</a></li>
      <li><a href="">About Us</a></li>
      <li><a href="drive proCar List.html">Car List</a></li>
      <li><a href="">Contact Us</a></li>
      <li><a href="Login.html">Sign In / Sign Up</a></li>
      <li><a href="help & support.html">Help & Support</a></li>
      <li>

        <div class="search">
          <input type="text" class="searchTerm" placeholder="What are you looking for?">
          <button type="submit" class="searchButton">
            <i class="fa fa-search"></i>
          </button>
        </div>


      </li>
    </ul>
  </nav>

  <!-- Content -->
</head>

<body>

  <div class="about-section">
    <h1>Contact Us</h1>
    <p>The Best Vehicle Rental Company In Srilanka.</p>
    <p>If you Have any douts you can contact us.</p>
  </div>

  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <div class="container">
          <h2>Maduka Shehani</h2>
          <h4>Member of DrivePro</h4>
          <br>
          <p>Mobile - 077 417 8730</p>
          <p>mshehani@drivepro.com</p><br>


        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <alt="Mike" style="width:100%">
          <div class="container">
            <h2>Jeewantha Mallawa</h2>
            <h4>Member of DrivePro</h4>
            <br>
            <p>Mobile - 071 932 0298</p>
            <p>jmallawa@drivepro.com</p><br>


          </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <div class="container">
          <h2>Odara Amarakoon</h2>
          <h4>Member of DrivePro</h4>
          <br>
          <p>Mobile - 077 241 4482</p>
          <p>oamarakoon@drivepro.com</p><br>

        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="column">
      <div class="card">
        <div class="container">
          <h2>Thanuri Leelaratne</h2>
          <h4>Member of DrivePro</h4>
          <br>
          <p>Mobile - 078 921 8853</p>
          <p>tleelarathne@drivepro.com</p><br>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <div class="card">
          <div class="container">
            <h2>Sasindu Lakshana</h2>
            <h4>Member of DrivePro</h4>
            <br>
            <p>Mobile - 076 025 7312</p>
            <p>slaksshana@drivepro.com</p><br>
          </div>
        </div>
      </div>
    </div>






    <!-- Footer -->

    <div class="footer">

      <div class="footer_item_1">
        <h3>89,Main Street,Malabe</h3>
        <h3>011 1234567</h3>
        <h3>supportdrivepro@gmail.com</h3>
      </div>

      <img class="footer_item_2" src="img/logo1.png" alt="Drive Pro">


      <div class="footer_item_3">
        <h4>Social Media</h4>
        <div class="footer_item_3_icon">
          <img src="img/whatsapp.jpg">

          <img src="img/facebook.png">

          <img src="img/instegram.jpg">

        </div>


      </div>



    </div>


</body>

</html>