<!DOCTYPE html>
<html>
     <Head>
	  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DrivePro Car Renta - Car List</title>
    <link rel="stylesheet" href="css/car list.css">
          
     </Head>

<body>
 <!-- Navigation -->
    <nav>
        <input type="checkbox" id="res-menu">
        <label for="res-menu">
            <i class="fas fa-bars" id="s1"></i>
            <i class="fas fa-times" id="s2"></i>
        </label>
               <img src="img/logo1.png" alt="Drive Pro">

        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="">About Us</a></li>
            <li><a href="">Car List</a></li>
            <li><a href="contact.html">Contact Us</a></li>
            <li><a href="Login.html">Sign Up</a></li>
            <li><a href="help & support.html">Help & Support</a></li>
            <li>

                <div class="search">
                    <input type="text" class="searchTerm" placeholder="What are you looking for?">
                    <button type="submit" class="searchButton">
                        <i class="fa fa-search"></i>
                    </button>
                </div>


            </li>
        </ul>
    </nav>

 <!--==============================Header=================================-->
<br>  
</br>
<center>   
<h1>Car List </h1>
</center>
<br>  
</br>
<hr border="3">

<table border="2" width = "100%">
<tr>


<div class = "imgs">
<td>
<center>
<br></br>
<h3>MINI CAR</h3>
<img src="img/mini car.jpg" width="225px" high="350px"alt="Mini Car">
<br></br>

<input type="button" name="submit "  value = "Book Now ">
<br></br>
</center>
</td>

<td>
<center>
<br></br>
<h3>CAR</h3>
<img src="img/car.jpg" width="300px" high="300px"alt="Car">
<br></br>
<input type="button" name="submit "  value = "Book Now">
<br></br>     
</center>
</td>

<td>
<center>
<br></br>
<h3>MINI VAN</h3>
<img src="img/mini van.jpg" width="300px" high="300px"alt="Mini Van">
<br></br>
<input type="button" name="submit "  value = "Book Now " > 
<br></br>
</center>
</td>
</tr>

<br> </br>
<br> </br>

<td>
<center>
<br></br>
<h3>VAN</h3>
<img src="img/van.jpg" width="300px" high="300px"alt="Van">
<br></br>
<input type="button" name="submit "  value = "Book Now"> 
<br></br>
</center>
</td>

<td>
<center>
<br></br>
<h3>Tuk</h3>
<img src="img/tuk.jpg" width="250px" high="350px"alt="Tuk">
<br></br>
<input type="button" name="submit "  value = "Book Now"> 
<br></br>
</center>
</td>

<td>
<center>
<br></br>
<h3>BIKE</h3>
<img src="img/bike.png" width="300px" high="300px"alt="Bick">
<br></br>
<input type="button" name="submit "  value = "Book Now"> 
<br></br>
</center>
</td>


</tr>
</div>
</table>

 <br></br>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Beatae commodi veritatis optio. Rem vel temporibus, in
        iure debitis error labore laudantium, molestiae expedita
        nisi culpa officiis nemo voluptates, ad quam!</p>
<br></br>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Beatae commodi veritatis optio. Rem vel temporibus, in
        iure debitis error labore laudantium, molestiae expedita
        nisi culpa officiis nemo voluptates, ad quam!</p>
<br></br>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Beatae commodi veritatis optio. Rem vel temporibus, in
        iure debitis error labore laudantium, molestiae expedita
        nisi culpa officiis nemo voluptates, ad quam!</p>

 <br></br>  

 <!--------------------------------------Footer------------------------->
  <!-- Footer -->
  <br>
  </br>
  
    <div class="footer">

        <div class="footer_item_1">
            <h3>89,Main Street,Malabe</h3>
            <h3>011 1234567</h3>
            <h3>supportdrivepro@gmail.com</h3>
        </div>

        <img class="footer_item_2" src="img/logo1.png" alt="Drive Pro">


        <div class="footer_item_3">
            <h4>Social Media</h4>
            <div class="footer_item_3_icon">
                <img src="img/whatsapp.jpg">

                <img src="img/facebook.png">

                <img src="img/instegram.jpg">

            </div>


        </div>



    </div>


</body>

</html>

