<!DOCTYPE html>
<html>
<head>

	<title> DrivePro </title>
	<link rel="stylesheet" href="css/style_home.css">
	<link rel="stylesheet" href="css/rental.css">
</head>

<header>
	    <!-- Navigation -->
    <nav>
        <input type="checkbox" id="res-menu">
        <label for="res-menu">
            <i class="fas fa-bars" id="s1"></i>
            <i class="fas fa-times" id="s2"></i>
        </label>
        <img src="img/logo1.png" alt="Drive Pro">

        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">About Us</a></li>
            <li><a href="drive proCar List.html">Car List</a></li>
            <li><a href="contactUs.php">Contact Us</a></li>
            <li><a href="Login.php">Sign In </a>/ <a href="Login.html">Sign Up</a></li>
            <li><a href="help & support.html">Help & Support</a></li>
            <li>

                <div class="search">
                    <input type="text" class="searchTerm" placeholder="What are you looking for?">
                    <button type="submit" class="searchButton">
                        <i class="fa fa-search"></i>
                    </button>
                </div>


            </li>
        </ul>
    </nav>

<!-- Header End -->
</header>
<body>

	<center>
		<h1 class="hd1">WELCOME TO DRIVEPRO</h1> <br>
		
		<img src="img/car1.JFIF" height="300px" width="500px">
	</center>

	<h4 class="hd2">Why DrivePro best for you?,</h4>

	<p class="p1">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br>

	</p><br><br>

	<center>
		<h2 class="hd3">Our Popular Cars</h2>
	</center>

  <!-- Footer -->

    <div class="footer">

        <div class="footer_item_1">
            <h3>89,Main Street,Malabe</h3>
            <h3>011 1234567</h3>
            <h3>supportdrivepro@gmail.com</h3>
        </div>

        <img class="footer_item_2" src="img/logo1.png" alt="Drive Pro">


        <div class="footer_item_3">
            <h4>Social Media</h4>
            <div class="footer_item_3_icon">
                <img src="img/whatsapp.jpg">

                <img src="img/facebook.png">

                <img src="img/instegram.jpg">

            </div>


        </div>



    </div>

</body>
</html>

