<!DOCTYPE html>
<html>

<Head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DrivePro Car Renta - Payment</title>
    <link rel="stylesheet" href="css/payment.css">

</Head>

<body>
    <!-- Navigation -->
    <nav>
        <input type="checkbox" id="res-menu">
        <label for="res-menu">
            <i class="fas fa-bars" id="s1"></i>
            <i class="fas fa-times" id="s2"></i>
        </label>
        <img src="img/logo1.png" alt="Drive Pro">

        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="">About Us</a></li>
            <li><a href="drive proCar List.html">Car List</a></li>
            <li><a href="contact.html">Contact Us</a></li>
            <li><a href="Login.html">Sign Up</a></li>
            <li><a href="help & support.html">Help & Support</a></li>
            <li>

                <div class="search">
                    <input type="text" class="searchTerm" placeholder="What are you looking for?">
                    <button type="submit" class="searchButton">
                        <i class="fa fa-search"></i>
                    </button>
                </div>


            </li>
        </ul>
    </nav>

    <!--==============================Header=================================-->
    <br>
    </br>
    <center>
        <h1> Payment </h1>
    </center>
    <br>
    </br>
    <hr>
    <br>
    </br><br>
    </br>

    <div class="class">

        <center>
            <form> Name :

                <input type="text" name="name" placeholder="Enter Your Name">
            </form>
        </center>




        <br>
        </br>



        <center>
            <form> Email :

                <input type="text" name="Email" placeholder="Enter Your Email Address">
            </form>
        </center>



        <br>
        </br>



        <center>
            <form> Card No :

                <input type="text" name="Card No" placeholder="Enter Your Card No">
            </form>
            <center>



                <br>
                </br>



                <center>
                    <form> Date :

                        <input type="text" name="Date " placeholder="Enter Your Payment Date ">
                    </form>
                </center>
                <br>
                </br><br>
                </br><br>
                </br>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Beatae commodi veritatis optio. Rem vel temporibus, in
                    iure debitis error labore laudantium, molestiae expedita
                    nisi culpa officiis nemo voluptates, ad quam!</p>



                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Beatae commodi veritatis optio. Rem vel temporibus, in
                    iure debitis error labore laudantium, molestiae expedita
                    nisi culpa officiis nemo voluptates, ad quam!</p>


                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Beatae commodi veritatis optio. Rem vel temporibus, in
                    iure debitis error labore laudantium, molestiae expedita
                    nisi culpa officiis nemo voluptates, ad quam!</p>










                <br>
                </br>
                <br>
                </br>
                <br>
                </br>
                <br>
                </br>
                <p>
                <form> <input type="button" name="submit " value="Confirm Payment"> </p>
                </form>

    </div>
    <!--------------------------------------Footer------------------------->
    <!-- Footer -->
    <br>
    </br>
    <br>
    </br>


    <div class="footer">

        <div class="footer_item_1">
            <h3>89,Main Street,Malabe</h3>
            <h3>011 1234567</h3>
            <h3>supportdrivepro@gmail.com</h3>
        </div>

        <img class="footer_item_2" src="img/logo1.png" alt="Drive Pro">


        <div class="footer_item_3">
            <h4>Social Media</h4>
            <div class="footer_item_3_icon">
                <img src="img/whatsapp.jpg">

                <img src="img/facebook.png">

                <img src="img/instegram.jpg">

            </div>


        </div>



    </div>


</body>

</html>