<DOCTYPE html>
    <html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nav Bar</title>
  <link rel="stylesheet" href="css/rental.css">



  <!-- Navigation -->
  <nav>
    <input type="checkbox" id="res-menu">
    <label for="res-menu">
      <i class="fas fa-bars" id="s1"></i>
      <i class="fas fa-times" id="s2"></i>
    </label>
    <img src="img/logo1.png" alt="Drive Pro">

    <ul>
      <li><a href="index.html">Home</a></li>
      <li><a href="">About Us</a></li>
      <li><a href="">Car List</a></li>
      <li><a href="">Contact Us</a></li>
      <li><a href="Login.html">Sign In / Sign Up</a></li>
      <li><a href="help & support.html">Help & Support</a></li>
      <li>

        <div class="search">
          <input type="text" class="searchTerm" placeholder="What are you looking for?">
          <button type="submit" class="searchButton">
            <i class="fa fa-search"></i>
          </button>
        </div>


      </li>
    </ul>
  </nav>

html>
   <head>
     <title> userprofile </title>
     <link rel="stylesheet"href="css/styles.css">
   </head>
    <body background="images/drive.jpg">
   <br>
    <center>
     <font size="5" color ="white"><b> USER PROFILE </font></b>
     <br>
     <br>
     <br>
     <table border="0" bgcolor="black">
     <tr>
      <th rowspan="50">
      <font size="3" color= "white">Profile Picture</font>
      <br><br>
      <img src="image.jpg" alt=profilepicture width="100"
      height="150" border="2">
      <br>
      <font size="2" color="white">Sadun Bandara </font>
      <br>
      <br>
      <br>
      <input type="password" size="25" placeholder="Old Password" maxlength="20">
      <br><br>
      <input type="password" size="20" placeholder="New Password" maxlength="20">
      <br><br>
      <input type="password" size="20" placeholder="Confirm Password" maxlength="20">
      <br><br><br>
      <input type="reset" value="Update Password">
     </tr>
     <br><br>
     <tr>
       <th rowspan="50">
        <font size="3" color ="white"> First Name </font>
       <br><br>
      <input type="text" size= "20" placeholder ="sadun" maxlength= "20" >
      <br>
      <br>
      <font size="3" color ="white">Last Name</font>
      <br><br>
      <input type="text" size="20" placeholder="bandara" maxlength="20">
      <br><br>
      <font size="3" color="white">NIC Number</font>
      <br><br>
      <input type="text" size="20" placeholder="901456789V" maxlength="12">
      <br><br>
      <font size ="3" color="white">Gender</font>
      <br><br>
      <font size="3" color="white">Male</font><input type="radio" name="male" checked>
      <font size="3" color="white">Female</font><input type="radio" name="female">
      <br><br>
      <font size="3" color="white">Email Adress </font>
      <br>
      <br>
      <input type="email" size="30" placeholder="sadunbandara@gmail.com" maxlength="50">
      <br><br>
      <font size="3" color="white" >Phone Number</font>
      <br><br>
      <input type="phone" size="15" placeholder="077678943" maxlength="10">
      <br><br>
      <br><br>
      </th>
      </tr>
      </table>
      <br><br>
      <input type="reset" value="edit profile">
      <input type="submit" value="submit">


     </center>

     </body><


      <!-- Footer -->

     <div class="footer">

      <div class="footer_item_1">
      <h3>89,Main Street,Malabe</h3>
      <h3>011 1234567</h3>
      <h3>supportdrivepro@gmail.com</h3>
     </div>

     <img class="footer_item_2" src="img/logo1.png" alt="Drive Pro">


     <div class="footer_item_3">
      <h4>Social Media</h4>
      <div class="footer_item_3_icon">
        <img src="img/whatsapp.jpg">

        <img src="img/facebook.png">

        <img src="img/instegram.jpg">

      </div>


     </div>



     </div>


    </body>

</html>